{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn-primary" href="{{ path('episode_index') }}">back to list</a>

    <a class="btn-secondary" href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>

    {% if app.user %}
        <h1 class="">Add a comment for this episode: </h1>
        <div>
            {{ include('comment/_form.html.twig') }}
        </div>
    {% endif %}

    {% for comment in episode.comments  %}
        <h3>Commentaire de {{ comment.author.email }}</h3>
        <p>Message {{ comment.comment }}</p>
        <p>Note: {{ comment.rate }}</p>

        {% if app.user.email == comment.author.email %}
            {{ include('comment/_delete_form.html.twig') }}
        {% endif %}
    {% endfor %}
    {{ include('episode/_delete_form.html.twig') }}

{% endblock %}
